<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WC8ZVXV');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}

    <link href="{% static 'design/style.css' %}" rel="stylesheet"/>


</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WC8ZVXV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<nav class="navbar">
    <div class="container-fluid justify-content-center">
        <nav class="navbar  me-auto">
            <a href="{% url 'home' %}" id="logo">
                cXntext

            </a>
        </nav>


      <ul class="nav align-items-center">
          <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'upload-text' %}" > Upload Text </a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'upload-doc' %}" > Upload PDF </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}" hidden> <button type="button" class="btn btn-dark">Logout</button></a>
          </li>
      </ul>

    </div>
</nav>

<div class="container" id="home-page-container">
  <div class="row" style="margin-right: 0px, margin-left:0px">
    <a href="{% url 'upload-text' %}"><button type="button" class="btn btn-dark" style="width: 300px;height: 20%;">  Upload text </button> </a>

    <a href="{% url 'upload-doc' %}"> <button type="button" class="btn btn-dark" style="width: 300px;height: 20%;">  Upload document </button> </a>
  </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"> </script>
</body>

<footer>
    <div >
      <span id="footer-company-sign">© 2023 cXntext </span>
    </div>
</footer>


</html>