
.navbar-brand {
padding-left: 20px;

}


.navbar {
padding-top: 0px;
}


html, body, .container {
    height:95%;
}

.container {
    display:table;
    width: 100%;
    margin-top: -30px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

.row {
    height: 80%;
    display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}

#upload-section {
    display: grid;
    height: 100px;
}

#translation-section {
    display: contents;
    height: 75%;
    border-color: grey;
    border-style: solid;
    border-radius: 5px;
    margin-right: auto;
}

#uploadButton {
width: 90%;
height: 40%;
margin: auto;
margin-bottom; 20px
border-radius: 40px;

}


#pagenumber {
width: 10%;
height: 30%;
margin-top: 20px;
margin-bottom: 20px;


}


#saveWordButton {
width: 50%;
height: 40%;
margin: auto;
border-radius: 40px;

}

#textSection {
    border-color: grey;
    border-style: solid;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: scroll;
    direction: rtl;

}

.textButton {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight:bold;
  }

#loadText {
    margin-top: 30px;
}

#previousPage{
    margin-top: 30px;
}
#nextPage {
    margin-top: 30px;
}