<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}

    <link href="{% static 'design/style.css' %}" rel="stylesheet"/>


</head>


<body class="bg-white">

<nav class="navbar">
    <div class="container-fluid justify-content-center">
        <nav class="navbar navbar-white bg-white me-auto">
            <a class="navbar-brand" href="#">
                <img src="{% static 'design/logo.png' %}" width="130" height="130" class="d-inline-block" alt="">

            </a>
        </nav>

      <ul class="nav align-items-center">


          <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'logout' %}" hidden> Item one</a>
          </li>

          <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'logout' %}" hidden> Item two </a>
          </li>

          <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'logout' %}" hidden> Item three </a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}" hidden> <button type="button" class="btn btn-dark">Logout</button></a>
          </li>

      </ul>

    </div>
</nav>

{% block content %}

{% endblock %}

<script type="text/javascript" src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"> </script>
</body>
</html>